/** @format */

* {
	border: none;
	padding: 0px;
	margin: 5px;
	box-sizing: border-box;
    
}
button {
	background-color: #eee;
	padding: 10px 50px;
	cursor: pointer;
	border-radius: 5px;
}
button:hover {
	outline: 1px solid #f00;
}
