/** @format */

* {
	border: none;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.divRelogio {
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	background-color: #444;
	color: #0f0;
	font-family: monospace;
	font-size: large;
	padding: 10px;
	border-radius: 5px;
}
